# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. 🙂

In [182]:
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you’ll―of course―overcome them with what you learned in class! 😉

## Food Choices Data Set

### Load the Data

In [183]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [184]:
size = df_food.size

print("We just loaded", size, "data")

We just loaded 7625 data

What are the columns and their types in this data set?

In [185]:
# Show the column names and their types.
df_food.dtypes

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we’d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. …and maybe gender.

Can you remove the other columns?

In [186]:
# Remove ‘em.
focusCol = ['calories_day', 'weight', 'Gender']

df_food[focusCol]

     calories_day                    weight  Gender
0             NaN                       187       2
1             3.0                       155       1
2             4.0  I'm not answering this.        1
3             3.0             Not sure, 240       1
4             2.0                       190       1
..            ...                       ...     ...
120           4.0                       156       1
121           2.0                       180       1
122           NaN                       120       1
123           4.0                       135       2
124           NaN                       135       1

[125 rows x 3 columns]

What about `NaN`s? How many are there?

In [187]:
# Count ‘em.
nanCount = df_food.isna().sum()

print(nanCount)

GPA                  2
Gender               0
breakfast            0
calories_chicken     0
calories_day        19
                    ..
type_sports         26
veggies_day          0
vitamins             0
waffle_calories      0
weight               2
Length: 61, dtype: int64

We gotta remove those `NaN`s―the entire row.

In [188]:
# Drop ‘em.
df_dropped = df_food.dropna() #Not changing original data frame

df_dropped

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
4,3.5,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
6,3.8,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,1.0,1.0,5,940.0,690,soccer,4,1,1315,180
7,3.3,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1.0,...,1.0,2.0,1,725.0,500,none,4,2,1315,137
9,3.3,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",1.0,...,1.0,1.0,4,580.0,345,field hockey,5,1,900,125
10,3.5,1,1,610,3.0,980.0,2,"Pasta, grandma homemade chocolate cake anythin...",Boredom,2.0,...,1.0,1.0,2,940.0,345,soccer,5,2,900,116
11,3.904,1,1,720,4.0,420.0,2,"chocolate, pasta, soup, chips, popcorn","sadness, stress, cold weather",3.0,...,1.0,1.0,5,940.0,500,Running,5,1,900,110
12,3.4,2,1,430,3.0,420.0,2,"Cookies, popcorn, and chips","Sadness, boredom, late night snack",3.0,...,2.0,1.0,3,940.0,500,Soccer and basketball,3,2,575,264
13,3.6,1,1,610,3.0,420.0,2,"ice cream, cake, chocolate","stress, boredom, special occasions",1.0,...,1.0,1.0,5,1165.0,850,intramural volleyball,5,2,1315,123
14,3.1,2,1,610,3.0,420.0,2,"Pizza, fruit, spaghetti, chicken and Potatoes","Friends, environment and boredom",2.0,...,1.0,1.0,4,940.0,500,Hockey,5,1,900,185
17,3.6,2,1,430,3.0,980.0,2,"chips, cookies, ice cream",I usually only eat comfort food when I'm bored...,2.0,...,1.0,1.0,3,940.0,500,hockey,4,2,900,170
18,3.4,1,1,720,3.0,980.0,1,"Chocolate, ice crea","Sadness, stress",3.0,...,2.0,2.0,1,1165.0,690,dancing,5,1,1315,135
20,3.3,2,1,610,3.0,980.0,2,"Fast food, pizza, subs","happiness, satisfaction",7.0,...,1.0,1.0,1,1165.0,850,Soccer,3,2,1315,175
22,3.7,2,1,610,3.0,420.0,1,"burgers, chips, cookies","sadness, depression",3.0,...,1.0,1.0,4,940.0,850,tennis soccer gym,3,1,1315,185
23,3.7,2,2,610,3.0,420.0,2,"Chilli, soup, pot pie",Stress and boredom,1.0,...,1.0,1.0,4,940.0,690,Gaelic Football,4,1,1315,185
25,2.8,1,2,720,3.0,420.0,2,"chocolate, ice cream/milkshake, cookies",boredom,2.0,...,1.0,1.0,3,1165.0,690,Ice hockey,3,2,760,125
26,3.7,2,1,610,2.0,420.0,1,"Chips, ice cream, microwaveable foods","Boredom, lazyniss",2.0,...,2.0,1.0,2,1165.0,850,Hockey,3,2,1315,160
27,3,2,1,610,4.0,980.0,2,"Chicken fingers, pizza",Boredom,2.0,...,1.0,1.0,3,1165.0,500,Lacrosse,5,1,1315,175
31,4,2,1,610,3.0,420.0,2,"chips and dip, pepsi,","stres, boredom, and nighttime",1.0,...,2.0,2.0,4,940.0,690,none organized,5,1,1315,205
34,3.65,1,1,610,3.0,420.0,2,"french fries, chips, ice cream","boredom, stressed, sad",2.0,...,1.0,1.0,3,940.0,345,softball,4,1,1315,150
35,3,1,1,610,2.0,420.0,2,"mac n cheese, peanut butter and banana sandwic...",Boredom usually,2.0,...,1.0,1.0,2,940.0,690,Lacrosse,5,2,760,150
37,3.4,1,1,720,4.0,420.0,2,"chocolate, chips, candy",Stress,1.0,...,1.0,1.0,5,940.0,500,Dancing,4,2,1315,170
38,3.89,1,1,610,3.0,980.0,2,"chocolate, popcorn, ice cream","boredom, stress",2.0,...,1.0,1.0,2,1165.0,690,Lacrosse,3,2,1315,150
40,3.4,2,1,430,3.0,315.0,1,"Pizza, Ice cream, fries, cereal, cookies",Usually if I'm sad or depressed.,3.0,...,1.0,1.0,3,940.0,500,wrestling,4,2,760,140
44,3.2,1,1,610,4.0,420.0,2,"Potato chips, ice cream, chocolate, cookies","Stress, boredom, craving",1.0,...,1.0,1.0,5,725.0,500,Volleyball,5,1,760,170
46,3.8,2,1,430,2.0,420.0,1,"popcorn, chips, candy, & fries","sadness, boredom, & anger",3.0,...,1.0,1.0,3,725.0,345,soccer,4,2,900,168
51,3.3,2,1,610,4.0,980.0,1,Burger,Lazy,5.0,...,1.0,1.0,5,1165.0,500,Hockey,4,1,1315,185
54,3.5,2,1,610,3.0,420.0,2,"peanut butter sandwich, pretzals, garlic bread","stress, anger and boredom",1.0,...,1.0,1.0,4,940.0,690,hockey,5,1,900,165
56,3.8,2,1,720,4.0,315.0,2,"Pizza, Ice Cream, Chicken Wings",I usually only eat comfort foods when I am bor...,2.0,...,1.0,1.0,5,1165.0,500,Hockey,5,1,1315,175
57,2.8,1,1,610,4.0,980.0,2,Pizza chocolate chips bagels ice Capps,Just cause,9.0,...,2.0,1.0,2,725.0,345,softball,4,1,1315,140
58,3.5,1,1,610,3.0,420.0,2,"Chocolate, ice cream, pasta","Stress, boredom, sadness",1.0,...,1.0,1.0,5,1165.0,690,Skiing,5,1,1315,155
60,3.6,1,1,610,4.0,420.0,2,"peanut butter, dessets, pretzels.","Sadness, boredom, lonely.",3.0,...,1.0,1.0,1,1165.0,690,Water polo and running,5,1,1315,135
62,3.9,2,1,610,4.0,980.0,2,"ice cream, cookies, ice cream","boredom, sadness",2.0,...,1.0,1.0,2,1165.0,850,Ice Hockey,4,1,1315,210
64,3.5,1,1,610,3.0,420.0,1,"cookies, nutella, ice cream, coffee, fruit","Bordem, happiness, sadness",2.0,...,2.0,1.0,3,940.0,500,Volleyball,5,1,760,140
67,3.6,1,1,610,2.0,420.0,1,"Ice cream, cake, mozzarella sticks, pierogies",Boredom,2.0,...,1.0,1.0,2,940.0,690,"Recreational Basketball, Equestrian Team",5,2,1315,144 lbs
68,3.2,1,1,430,3.0,315.0,1,"Chips, Mac and cheese, pizza, French fries","Stress, sadness, bored",1.0,...,1.0,1.0,4,725.0,500,soccer,5,2,760,145
70,3.73,1,1,610,3.0,980.0,2,"Broccoli, spaghetti squash, quinoa, and grille...","Bad day, bored, sadness",2.0,...,1.0,1.0,5,1165.0,500,Rec Volleyball,5,1,1315,140
73,3.79 bitch,2,1,720,4.0,420.0,2,"Chips, ice cream","Boredom, stress",2.0,...,1.0,1.0,2,1165.0,850,baseball,4,1,1315,200
75,3,1,1,610,3.0,420.0,2,"mac and cheese, potato soup, ice cream, chips ...","sadness, stressed, boredom",3.0,...,1.0,2.0,4,940.0,500,I danced in high school,4,1,900,120
76,3.7,1,2,610,3.0,420.0,1,"chocolate, pizza, and mashed potatoes",boredom and stress,2.0,...,2.0,1.0,1,1165.0,690,horse back riding,2,2,1315,150
77,3.1,2,2,265,2.0,420.0,1,Pizza cookies steak,Boredom comfort hunger,2.0,...,2.0,1.0,2,725.0,345,Basketball,2,2,900,200
78,3,1,1,720,3.0,420.0,2,"chocolate, fruit, and ice cream","stress, boredom",1.0,...,1.0,1.0,3,580.0,345,competitive skiing,4,1,1315,135
79,3.9,2,1,720,3.0,420.0,2,Chips sweets popcorn,Boredom,2.0,...,1.0,1.0,5,1165.0,850,"Rowing, Running, and Cycling",4,2,1315,145
81,3.5,1,2,610,3.0,420.0,1,"cake, French fries, chicken nuggets","boredom, sadness",2.0,...,2.0,1.0,4,725.0,500,softball and basketball,2,2,900,190
84,3.83,1,1,720,3.0,420.0,2,"Pasta dishes, Cheesecake, Pancakes","Sadness, Loneliness, Boredom",3.0,...,1.0,1.0,5,725.0,690,Collegiate Water Polo,5,1,760,167
85,2.6,1,1,265,3.0,315.0,2,"Ice cream, pizza, cookies",Mostly Stress,1.0,...,1.0,2.0,3,580.0,500,None right now,4,1,760,140
86,3,1,1,610,3.0,420.0,2,"Chinese food, moes, sponge candy, homemade las...","boredom, sadness",2.0,...,1.0,1.0,4,580.0,500,"volleyball, lacrosse",4,1,900,190
87,3.2,2,1,720,3.0,420.0,1,"pizza, pasta, mac and cheese",when i am sad or craving,3.0,...,1.0,1.0,1,1165.0,690,field hockey,4,1,1315,155
91,3.8,1,2,610,2.0,420.0,2,"Macaroni and cheese, chicken noodle soup, pizza",Boredom and stress,2.0,...,1.0,2.0,1,725.0,500,crew,1,2,900,135
96,3.92,2,1,430,3.0,420.0,2,"Ice cream, cake, pop, pizza, and milkshakes.","Happiness, sadness, celebration.",7.0,...,1.0,2.0,3,725.0,500,Soccer,2,1,900,210
103,3.7,1,1,610,3.0,420.0,2,"dark chocolate, terra chips, reese's cups(dark...","Anxiousness, watching TV I desire ""comfort food""",8.0,...,1.0,2.0,3,725.0,345,"When I can, rarely though play pool, darts, an...",5,1,760,130

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. 🤔

In [189]:
# Fix that.
df_dropped['weight'] = pd.to_numeric(df_food['weight'], errors='coerce')
df_dropped.dropna()
df_dropped.dtypes

C:\Users\chens\AppData\Local\Temp\ipykernel_5044\3406548728.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_dropped['weight'] = pd.to_numeric(df_food['weight'], errors='coerce')

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight              float64
Length: 61, dtype: object

Now this data seems reasonably clean for our purposes! 😁

Let’s save it somewhere to be shipped off to another teammate. 💾

In [190]:
# Savey save!
df_food.to_csv('data/cleaned_data.csv')

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [191]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).
df_salary = pd.read_csv('data/salary_responses.csv', sep= '\t')
# Delimiter was actually tab insread of space
df_salary

,Timestamp,How old are you?,What industry do you work in?,Job title,"If your job title needs additional context, please clarify here:","What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)","How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.",Please indicate the currency,"If ""Other,"" please indicate the currency here:","If your income needs additional context, please provide it here:",What country do you work in?,"If you're in the U.S., what state do you work in?",What city do you work in?,How many years of professional work experience do you have overall?,How many years of professional work experience do you have in your field?,What is your highest level of education completed?,What is your gender?,What is your race? (Choose all that apply.)
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28057,7/12/2024 22:52:01,35-44,Health care,Veterinarian,NaN,135000,NaN,USD,NaN,NaN,United States,Missouri,Wentzville,11 - 20 years,11 - 20 years,"Professional degree (MD, JD, etc.)",Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28059,7/24/2024 12:22:58,18-24,"Accounting, Banking & Finance",Risk Management Associate,NaN,1200,0.0,USD,NaN,NaN,Myanmar,Colorado,Yangon,2 - 4 years,2 - 4 years,Some college,Man,Asian or Asian American
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American
28061,8/20/2024 1:06:13,25-34,Health care,Clinical physiologist,NaN,1200000,NaN,Other,NGN,NaN,Nigeria,NaN,Lagos,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American

Was that hard? 🙃

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

### Explore

You know the drill.

How much data did you just load?

In [192]:
# Count by hand. I’m dead serious.
salarySize = df_salary.size
print('We loaded' ,salarySize, 'data')

We loaded 505116 data

What are the columns and their types?

In [193]:
# Show the column names and their types.
df_salary.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh… Ugh! Give these columns easier names to work with first. 🙄

In [194]:
# Rename ‘em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race
newColumns = ['timestamp', 'age', 'industry', 'title','title_context', 'salary', 'additional_compensation', 'currency', 'other_currency', 'salary_context', 'country', 'state', 'city', 'total_yoe', 'field_yoe', 'highest_education_completed','gender','race']
df_salary.columns = newColumns
df_salary.dtypes
# Had issues renaming the columns because the comment was missing a ',' which mean I had 17 new columns renamed rather than the supposed 18

timestamp                       object
age                             object
industry                        object
title                           object
title_context                   object
salary                          object
additional_compensation        float64
currency                        object
other_currency                  object
salary_context                  object
country                         object
state                           object
city                            object
total_yoe                       object
field_yoe                       object
highest_education_completed     object
gender                          object
race                            object
dtype: object

It’s a lot, and that should not have been easy. 😏

You’re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [195]:
# List the unique industries and a count of their instances.

df_salary['industry'].value_counts()

industry
Computing or Tech                          4699
Education (Higher Education)               2464
Nonprofits                                 2419
Health care                                1896
Government and Public Administration       1889
                                           ...
Gaming (Gambling)                             1
Regulatory Affairs- nutraceuticals            1
Manufacturing : corporate admin support       1
Real Estate Investment Support                1
Wine & Spirits                                1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you’re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [196]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)
condition = df_salary['industry'] == 'Computing or Tech'
df_salary_tech = df_salary[condition]
df_salary_tech

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28050,7/1/2024 13:38:46,25-34,Computing or Tech,Research & Systems Technician Data Analytics,NaN,22000,NaN,EUR,NaN,NaN,Spain,NaN,Barcelona,2 - 4 years,2 - 4 years,College degree,Man,"Hispanic, Latino, or Spanish origin"
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,Usa,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [197]:
# Sanity Check 

df_salary_tech['industry'].value_counts()

industry
Computing or Tech    4699
Name: count, dtype: int64

We are very interested in salary figures. But how many dollars 💵 is a euro 💶 or a pound 💷? That sounds like a problem for another day. 🫠

For now, let’s just look at U.S. dollars (`'USD'`).

In [198]:
# Filtery filter for just the jobs that pay in USD!
df_salary_tech[df_salary_tech['currency'] == 'USD']

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,salary_context,country,state,city,total_yoe,field_yoe,highest_education_completed,gender,race
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28044,6/3/2024 16:15:43,18-24,Computing or Tech,Research Data Analyst Associate,NaN,60000,0.0,USD,NaN,NaN,United States,Illinois,Evanston,2 - 4 years,1 year or less,College degree,Woman,White
28051,7/1/2024 20:05:58,25-34,Computing or Tech,Junior data analyst,NaN,35000,15000.0,USD,NaN,NaN,Usa,Alabama,Alabama,2 - 4 years,2 - 4 years,College degree,Woman,Black or African American
28052,7/3/2024 14:02:01,25-34,Computing or Tech,Senior Global Public Relations Manager,NaN,144000,15000.0,USD,NaN,NaN,Usa,Massachusetts,Boise-but remote. Company located in Boston,8 - 10 years,8 - 10 years,Master's degree,Woman,White
28058,7/23/2024 17:51:03,25-34,Computing or Tech,Systems Architect,NaN,109000,NaN,USD,NaN,NaN,USA,Georgia,Atlanta,5-7 years,5-7 years,College degree,Man,White
28060,7/26/2024 11:20:45,18-24,Computing or Tech,IT,NaN,1700,10.0,USD,NaN,NaN,Burma,NaN,Yangon,2 - 4 years,1 year or less,Some college,Man,Asian or Asian American

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [199]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.
df_salary_tech['country'].value_counts()

country
United States     1576
USA               1222
US                 413
Canada             227
United Kingdom     145
                  ...
International        1
England, UK          1
Portugal             1
Slovakia             1
Burma                1
Name: count, Length: 145, dtype: int64

### Clean the Data

Well, we can’t get our answers with what we currently have, so you’ll have to make some changes.

Let’s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value―say, `'US'`, which is nice and short.

In [200]:
# Replace them all with 'US'.
df_salary_tech.replace(to_replace = ["United States", 'USA', 'Usa', 'U.S.', 'United States of America', 'United Stated', 'usa' ,'us' ,'United states', 'Us', 'united states', 'Unites States','United STates', 'United Stares',' US', 'U.s.','America', 'Uniyed states', 'USA ', 'U.S.A.', 'United Stateds', 'United States ', 'United States of America ', 'U.S.A ', 'Usa ', 'U.S ', 'United State','United States Of America ', 'U.S. ', 'United State of America', 'United States of america', 'UnitedStates', 'United States of America ', 'Unite States', 'Unite States', 'US ', 'U.S '], value = "US")
pd.set_option('display.max_rows', None)
df_salary_tech.value_counts()

timestamp          age    industry           title  title_context  salary  additional_compensation  currency  other_currency  salary_context  country  state     city  total_yoe  field_yoe      highest_education_completed  gender  race
2/6/2024 21:15:28  18-24  Computing or Tech  sdsd   ds             4       22.0                     USD       1               dd              ss       Arkansas  s     5-7 years  11 - 20 years  Some college                 Man     Black or African American    1
Name: count, dtype: int64

Have a look at the count of each unique country again now.

In [201]:
# Count again.
# I fixed above but wasn't able to filter out all the mistakes, maybe I have to filter out white spaces (strip) and try agian

Did you notice anything interesting?

In [202]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.
# I fixed on above
# Wasn't able to fix everything. There were some that I had included in the replace but wasn't able to figure out why it wasn't changing

In [203]:

# BONUS CREDIT: if you’ve resolved it, let’s see how well you did by counting the number of instances of each unique value.

It’s looking good so far. Let’s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [204]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

df_salary_tech['salary'].agg(['min', 'mean', 'max'])

TypeError: Could not convert string '54,600112,000187,500110,000144,600200,85072,00034,00088,000125,000115,00098,16687,000107,22050,000130,000130,000140,00070,00080,00083,00090,00088,000125,000110,000260,000124,000150,000156,000130,000126,000179,00064,20060,000157,00086,00085,000104,00088,00065,000175,000112,000131,00070,00065,00080,000885,000180,000157,029120,00085,00045,000201,000210,000115,00080,000170,00092,00071,40095,000153,00085,00080,000105,00065,000144,000200,00062,00075,00026,500160,00071,309130,000105,000110,000160,367105,000110,000100,00065,000110,00060,000128,00086,10056,27150,000132,860117,000135,000130,00044,000154,000165,000160,00070,00040,00032,00093,800175,00085,000103,00081,000136,00097,00093,00074,200175,000150,00070,00095,00075,00090,000105,000155,00076,250185,00072,450200,00085,00066,30073,000156,00065,00037,500170,000180,00073,700151,374130,000128,000130,00098,00090,00035,000150,000125,000117,500210,00070,00088,20096,000147,240150,000130,00069,000170,000250,000149,000122,000112,00039,000148,00044,00069,000112,000120,000107,90070,00064,000125,00085,116190,000120,00033,50095,000168,000115,00070,662125,000183,00081,000223,000250,000145,00073,000112,00038,000118,00065,000120,00067,08062,00065,79063,00068,300138,000117,500121,184147,000115,000150,00070,00086,00072,000102,00065,000155,000145,000120,00060,00096,90060,000175,000165,000150,00092,500100,000140,000130,000220,000102,550147,00088,00060,000190,000125,30095,000170,00075,000225,00012,500669,50055,15695,000185,000114,40058,000147,000127,553118,560120,000135,00098,000130,00095,000131,00064,000162,760117,00068,000100,00045,00061,000110,00056,400100,00035,000196,00078,00070,00070,00064,00061,00081,600110,00065,000138,000114,000143,00091,000175,000130,000150,000123,250135,00038,000120,00088,00070,00082,00090,000165,000149,00072,000105,00087,00062,40079,000125,00075,00099,00095,000121,00050,000120,00067,000153,00074,61896,000114,50050,000135,20090,000215,35898,000139,000110,900135,000360,000105,000115,00089,50098,00096,60097,07242,500205,000160,50052,000117,000160,000105,00054,000138,00070,700240,000159,120120,00063,000116,00089,00088,00091,00090,000104,000175,000180,000162,00054,50090,000160,000140,00078,500120,000114,00077,000117,875107,000152,000140,000133,000126,500165,00065,00039,520100,000145,00063,000132,600120,000380,00043,000182,24585,000120,000110,000102,000110,00077,80065,000260,00045,500115,000130,000140,00076,000180,000102,00080,00099,000118,000135,000123,000130,000165,000138,500206,00080,80084,00090,00085,00063,000113,000125,000135,000115,000280,000120,000175,00074,000165,00059,000155,000154,50069,000575,000110,000125,000180,00095,00078,80060,900120,00065,620255,000125,00089,000105,000101,000174,000200,000110,000137,770157,00045,50081,00072,000103,00046,00085,000128,00068,000165,000110,00080,0001,150,000130,00084,000110,00054,000102,500153,000103,00069,000112,00072,000312,000120,00075,00073,00054,00031,000156,00057,678130,00052,000115,000199,00072,500125,00062,000200,00095,000186,00084,000110,000110,000163,000165,00082,00088,000118,00070,00098,00096,00057,00049,00090,00052,00062,400180,000150,00050,000110,00039,000165,000125,00040,40075,000200,00056,160115,00097,00062,000132,800200,000130,000145,0002,800,00075,000127,000148,000250,00070,00063100,00047,761104,600115,00095,00071,500145,00054,000250,00092,500103,00032,00095,00072,10060,000155,000135,000100,000145,00085,00078,14472,77570,00099,000140,000140,000120,000157,000129,00090,396175,00060,000195,000132,500153,000120,00094,700105,000135,000126,00068,00070,000140,000162,400140,00078,000150,000112,200122,416115,000140,00082,50042,640100,00065,000230,000122,00037,00066,000106,00095,00081,60048,000211,000132,000141,900123,00086,00097,00075,000133,000100,00075,000112,000117,0001,200,000150,000185,00092,000124,000200,00084,072105,00061,00065,00068,700140,00080,00032,00076,00062,000190,00043,000145,00087,500122,00090,000153,000100,000160,000125,00076,00095,00098,90875,00079,25172,59286,300125,000127,00063,000115,50098,200133,000123,00068,00090,000155,000119,000126,600110,000100,000138,000100,00073,00042,500180,00075,000152,00050,00065,000160,00072,50085,00080,000152,90095,000117,50085,00094,000128,00018115,00078,000156,00079,950135,60060,000151,800160,000139,45860,00062,00056,000167,000150,00054,000240,00080,000215,00060,00076,50080,00094,000120,000265,00073,00036,000165,000135,000130,000213,200170,000120,000172,00082,000155,00055,12048,00092,000111,00048,000173,00068,000115,000108,000175,00085,00077,25085,000121,000155,00085,000130,000110,000125,000160,00079,000130,000125,000126,282135,000115,00065,000125,00061,000140,00062,000185,00075,900280,000137,00060,000130,000185,000105,00080,00053,600144,00070,00085,000144,00090,00095,00092,000130,00075,000205,000110,000170,000101,00070,000100,000134,000120,00090,000250,000178,00076,989100,00080,000137,00090,000100,000100,000135,000145,00070,000158,00090,000170,000130,00042,500101,000144,9911,650,00097,646120,00092,00048,00073,000151,000100,000130,00091,50096,00082,000114,72598,00073,000179,66739,000288,00098,00099,00035,000194,00060,00071,00060,00095,00032,000114,300125,00080,00093,000110,000133,00086,00090,00081,000125,000132,000115,000101,000180,00067,52670,000103,84280,000140,00059,600122,00092,500123,00091,00065,00087,50040,000438,000106,000115,000215,00062,00063,52482,00090,00075,000250,000130,000120,000175,000145,00090,000168,000123,500102,00070,00080,00093,00093,000220,000136,50080,00090,000170,000109,45066,463150,000187,00053,000130,00077,00072,80057,000180,000173,500130,00060,00072,000147,000100,00080,000190,000100,00075,00090,000135,000550,00085,00080,00072,00086,000100,000167,00073,000110,000100,000125,000108,00020,400245,000104,769108,00080,000106,000122,00080,000136,00094,000130,000145,00086,500105,000160,00064,000102,000206,000174,000105,000260,00069,000200,000230,000141,00072,100315,00087,50095,00083,000165,00092,00086,000116,000100,00072,80078,00030,36886,700220,00075,00055,000115,000105,00072,000135,000155,000196,800190,00070,00030,00090,00075,000115,00060,000170,00090,00071,500103,60072,61345,000292,000188,00055,000115,00038,000169,000135,00080,000120,00063,65480,000117,00064,00075,30032,240130,000104,20095,000198,000120,000130,00014,40075,000138,00072,00060,000123,000500,000181,50090,00091,000155,000150,000135,000110,000190,000133,000110,000110,000113,000120,00051,60010068,000102,00068,000133,000155,000128,00085,00080,00095,000143,00063,00065,000185,000150,00062,364240,00064,00075,000250,00013,00045,00072,000230,000132,000120,00081,30090,000138,000103,000152,000200,00090,00085,00085,500156,000165,000105,000135,000105,000125,000119,00060,00082,50070,00065,000180,000138,000120,00095,000175,00095,00052,00093,01342,000141,000112,50065,000150,0001130,00095,00080,00035,00090,000150,000125,00042,00040,00074,000120,00078,80080,000125,00090,000145,000160,00070,000170,000205,00052,00090,00093,000145,00092,00072,40060,000180,000200,000141,000135,00061,000120,00068,000110,000113,00078,07878,000180,00058,00079,999142,00069,000130,000133,000170,000264,000110,00066,50046,00078,000130,000104,00045,00065,880230,000188,000170,00090,00090,000118,00088,000165,00050,000145,00090,000110,000166,000115,000174,000204,000116,00090,00045,000140,00090,351230,00037,00091,000186,00029,12080,881123,00078,00065,000175,000116,00083,000150,000102,00094,00094,000130,000129,000105,000150,00050,000156,000140,000165,00092,000135,00080,000180,000134,000150,00086,000125,000160,000200,000148,000185,000140,000118,50065,000145,000120,00065154,000198,00065,000142,000145,000110,000130,000500,000200,000158,000105,000200,000100,000131,000168,00040,00065,000103,500210,000137,00086,000106,00075,00065,000100,00040,000128,000123,0008,100,00080,000110,00040,000255,000130,00090,00067,00097,000127,000140,00082,00075,500110,000145,00072,00095,00082,50070,50065,00075,000100,000158,000140,000104,00090,00079,000120,0006,000,000133,151175,00090,000195,000250,00092,000145,000110,00092,000190,00095,000173,000238,00077,459120,000179,000160,000150,00042,000150,000120,00090,000190,000116,000118,560110,000133,53752,000185,000120,000151,000425,00088,000156,600127,500195,000157,000175,000155,00090,000152,000110,000175,000100,00070,00090,000113,000165,00010,000130,00070,000225,000112,00062,40044,00096,000185,000125,00043,642182,500132,00067,000170,000152,000145,000203,000175,000230,000215,000167,00078,25090,000100,000170,10085,000135,000205,000125,00075,000210,000110,00088,500144,000115,000175,00075,00085,000200,000140,00095,000150,000160,000110,000155,000200,00070,000105,000205,000200,000105,000140,000173,00095,000158,00065,000128,000172,500215,000270,000115,000175,000212,000206,500197,000135,00043,980203,000195,000175,000110,00085,000150,00080,000120,000123,600210,000150,000168,000146,000140,000147,000222,000275,000147,000141,000240,00055,90077,250205,000110,000130,000160,00078,00080,000120,00044,400175,000210,000130,000137,00089,000188,000104,00050,000175,00095,500125,000170,000230,000100,000190,00065,000124,000225,00088,00096,000525,00092,00065,00091,000179,000135,000110,00085,00097,000268,00080,80075,00053,000195,00074,00078,000114,100112,00093,00065,000154,00032,400120,00073,00082,50096,000147,000147,000220,000115,000140,000147,500160,000145,00069,00074,500193,000140,000120,000140,00060,00078,500107,600145,000131,000140,000115,400124,000120,000185,00050,000170,000105,00085,000118,00058,000189,000160,000150,00048,000840,00075,00077,000150,00064,000700,00080,00060,000185,00075,00023,000620,00061,10042,000875,00032,000128,000157,00050,00025,000126,00067,000148,00040,095250,00065,00039,00064,00060,0001,324,00060,00044,00053,00075,000409,60026,500187,20032,00019,00097,00039,00038,000163,00060,00047,50052,00036,60030,00036,027125,00037,000142,000406,80091,00021,000115,00097,50055,000120,00081,00028,000552,500,000295,00051,000150,000110,000140,00039,600250,000175,000172,00082,00040,000180,00087,31822,500135,000120,000110,000120,000135,000136,000150,000140,000155,00075,140130,00080,000120,00050,00062,000155,000186,00050,00080,000130,000130,00085,00085,000107,00045,00084,000168,000140,00096,000189,00060,00068,000185,00050,75252,68542,000111,000155,000172,000130,000165,000200,000170,000170,60072,000225,000120,000205,50066,000110,000165,000232,00080,000135,00045,600100,000140,000175,000111,000117,000115,000150,00068,500110,000135,000140,00036,800105,00090,000100,00044,00070,000188,000200,000100,000130,000133,00088,000117,000245,00092,00096,600190,000150,00046,000150,000190,00072,800105,00049,990140,00038,600113,00050,000148,000150,00086,65975,000130,000110,000200,00099,36452,50095,00032,50050,00050,000162,900108,00098,000155,00032,500105,000130,00085,600100,000160,00060,00055,00090,00088,27253,000125,000116,00090,000103,000170,00071,000132,00046,170163,000225,00025,88191,50075,000105,000200,000130,00098,000181,00039,000105,000140,000130,000105,000147,000118,00063,000122,00075,00090,000130,00095,00083,00080,00082,000100,00090,000170,00090,000100,000125,00098,500185,000152,00091,00091,000102,20099,00060,00045,000140,00075,00086,00075,000170,000110,00065,000107,00090,00089,000125,000137,000162,000112,000135,00048,00080,000220,000198,000200,00045,000107,70579,500133,000171,000110,000172,70082,000210,00055,00050,000130,000113,000120,000125,00079,500130,000167,00064,000130,000110,00090,000130,000123,000104,000187,000125,000110,000126,00090,00084,00080,000100,00063,000142,00093,000102,00092,435123,00082,000120,000110,000190,000152,00085,70075,00060,000130,000135,000119,82016,000145,00080,000200,00030,500162,390138,000119,900151,000121,00094,00085,000317,000160,000125,000226,000145,000200,00079,04062,900188,00052,000804,00092,000147,000135,000115,00078,00074,500200,000205,000118,500100,00064,70084,00036,550614,00086,000150,00028,60065,000166,000141,52085,00065,00015,10070,50070,00095,000100,000105,00067,000170,000154,000279,000138,000104,00063,00075,00083,000105,00035,360200,000110,000150,00081,863165,00074,900105,00090,00095,00087,000190,000105,50062,00082,00059,30072,000160,000250,000154,00082,00050,000140,000175,000102,000100,000119,500135,00068,000170,000108,000129,00042,00077,200520,00075,000250,00095,00090,90947,00064,00070,000105,000130,000340,00077,000180,000950,00071,00082,000149,660130,00080,000110,000100,00092,000141,50092,352127,00041,600139,000115,000120,00069,50090,00092,075166,00088,00090,00090,000106,00080,000165,000135,00070,000106,50048,000130,00076,00044,000105,000210,00076,000350,00090,00090,000172,00087,000185,000127,50090,00070,00057,000126,000126,000101,759114,000152,000130,00080,00069,241134,500172,000207,000150,000220,000150,000140,00060,000130,000123,000185,000100,000172,000165,00059,50092,00092,000165,00080,000105,000155,000172,000160,00083,000190,00088,000106,00080,000133,00090,000154,00093,600100,00045,000142,000115,00082,000165,000107,00028,15280,000108,00087,000170,000212,00072,480220,000140,00070,000300,000130,000504,45694,000156,000100,000132,84063,000155,000170,00091,000115,000120,00068,000120,000100,000110,000115,00012,000190,00085,000153,00065107,000120,00070,00097,000110,00075,000184,000165,00060,000141,900165,000138,000165,000160,000120,000185,00045,760265,00082,500133,600195,00065,00060,000101,900123,17870,000144,800100,00074,880108,00055,00076,000119,50072,000105,000205,000116,50080,00080,00094,80065,000175,00064,000130,00038,00080,00010287,00090,000173,00075,00083,00040,000185,00042,00091,000104,00073,000110,00098,60080,50080,00047,00052,7000106,00085,000188,000140,000105,72355,000113,00065,16685,000105,00090,600128,000170,00042,00092,000235,00030,00036,000195,000175,000130,000126,00026,000142,00050,00074,900115,000125,000200,00080,000196,00090,000135,00090,000142,000154,000210,000160,000120,00080,00062,000200,000179,00092,000121,000110,00045,000134,00093,500170,000110,000146,000134,500200,000200,000107,000141,00039,000240,000155,000185,0002,111,53828,00075,000205,000105,00085,000175,00075,00040,00070,00083,50067,000210,000450,000171,500160,00041,60060,00042,20085,000195,000165,00043,00078,000158,00080,000100,000155,00063,500155,000100,00070,45291,00081,90060,00065,000138,00060,00037,000149,000100,000140,00040,000113,50083,00085,55080,000120,00060,000125,00062,000145,00054,000146,000104,000182,00040,000120,000140,00055,000139,461157,00040,00093,000125,000200,000105,00075,00078,000124,600188,00038,00047,50044,000110,000225,00096,00062,000130,000100,260103,200135,000121,60072,500105,000175,000148,000240106,74242,00038,00085,60095,000180,00047,84090,00070,000142,00092,000115,00070,00075,000120,000110,000155,000118,000200,000100,000129,26067,50080,000288,000105,000166,560190,000180,000170,000210,000110,00036,000220,000145,000140,000121,36085,40096,000100,000105,000109,236170,000180,00049,400116,00050,000128,00096,00082,000127,000100,000110,00063,400123,000105,000110,00062,000192,40026,00037,85034,800180,000124,75094,00058,700110,000160,00076,00095,000250,00076,00080,000850,000100,000125,00080,000125,00084,000165,00085,550170,00043,000237,000135,000156,000135,00048,000230,000130,000137,000110,000225,000100,00077,500173,00060,000120,000115,000142,000225,00090,000160,00070,000108,000210,000165,00081,12080,00090,000200,000180,00066,000132,00050,00040,000567,600110,000135,00063,00073,00049,500175,000203,00066,00092,000202,00083,000168,00082,89180,000110,00080,00073,500234,000130,000180,000190,00088,000150,000180,000125,000192,000127,688115,000106,000103,000131,000185,00060,00019,38048,000164,80075,000113,500140,000105,00045,00052,000114,35090,00072,50086,700130,000249,00045,000125,00076,000208,00086,00067,275134,00095,000300,000134,00080,00043,00058,000180,00026,60076,000180,000580,000140,000215,000142,000115,000115,000130,000156,00052,00093,300116,00030,000205,00030,000175,000133,000130,000145,50085,000504,000120,00054,000131,00097,000115,000104,000120,000165,000125,000106,000110,00048,000112,800100,000135,00075,00095,00080,00093,000103,000215,000155,000110,00097,000105,00058,50089,00066,000101,00032,000130,000210,000200,00040,000114,000226,000260,000117,30077,300139,000858,00068,000123,000130,000120,000150,000123,000123,000125,000180,000170,00085,000140,000136,00049,00072,00085,000130,000190,000151,000150,00067,000113,00034,00092,000127,5001,300,000120,000170,000205,000120,000144,000212,00065,00090,74465,000159,85077,900160,000124,564166,00040,000120,000128,000139,500170,00080,00070,00098,000125,000124,000113,00096,000185,000100,88065,000125,000144,20094,000145,000190,000152,000260,000189,000170,000212,00047,840147,00090,00018,000260,00079,000200,000130,68069,000143,00034,00068,500110,50075,000190,000215,000950,000138,000168,00093,000145,000146,536295,000295,00066,00058,50090,000205,00093,000152,300125,000230,00086,50040,000152,000231,000194,500167,00037,00055,000160,00097,000160,000110,000105,00050,000122,750101,00090,00041,00089,000145,00057,000103,000603,000148,000142,00046,000257,00050,000149,000134,708163,000108,000200,000128,000129,00097,000168,067102,00065,600145,000180,000150,000110,00097,500144,000165,000205,000100,00084,00060,000191,500149,000200,000187,000210,000155,000122,000123,000111,200230,000165,00068,220150,000123,000150,000245,000480,000127,000137,000160,000180,000160,000176,000115,000235,000185,000149,60082,000118,000172,000135,200253,00093,00040,00071,000160,000145,000160,000175,000145,000162,000160,000175,000113,000103,500182,000115,000175,000196,000240,000150,000120,000163,000130,000143,000105,000105,000135,00090,300135,000100,000128,000134,500150,000170,000177,000113,000167,000173,000175,000143,000198,000105,000115,00045,000120,000169,000115,000190,000180,000160,000195,000245,000150,00094,000135,000180,000196,00075,000170,400225,000120,00059,040475,000180,000167,000150,00085,000210,000175,000130,000235,000175,000162,00067,000220,000110,00055,000160,00063,00054,600150,000180,000130,000240,00091,00095,000130,00075,0007,25066,000190,000165,00082,000127,500124,00070,000151,00086,000193,000170,000100,00047,000130,000100,00063,00052,000210,000194,150135,000108,500135,00098,000162,000203,000140,000145,689210,000160,000130,000189,00090,300222,000400,000165,500167,000143,000243,000135,000175,000124,000121,139145,000171,500105,0008,800,00085,000160,000200,00080,000255,00090,000280,000150,000275,00037,00078,000115,000160,000140,000150,00072,000119,000116,000127,000120,00038,500160,000175,000180,000134,000168,000267,500120,00072170,00081,500170,000124,00090,000151,300145,610200,000165,000135,000159,000215,00065,000174,000118,00090,000110,80086,700157,000160,000200,000145,000185,000120,00052,000130,000160,000155,000118,500102,00082,000208,00055,240270,000110,700130,000150,00085,00085,00065,000145,00090,000170,000175,000100,000132,000100,00095,000134,000120,000220,00085,000190,00028,536100,00074,000242,500140,000163,000120,000150,000147,000103,000129,000250,000123,00073,000156,832189,000135,000150,000260,00086,000159,000135,000123,600160,000157,400220,000155,000250,000160,00091,000265,000159,000186,000135,000190,000115,000150,000185,000250,600120,000110,00013087,000160,00085,000105,00097,000220,000300,000280,000175,000170,000630,000150,000150,500235,00057,000135,000150,00057,00052,000180,000140,000135,000150,000120,000275,000230,000165,000200,000150,00092,58087,00080,000164,00098,00092,00075,000135,000185,000141,00085,000159,000189,000180,000375,000105,00067,000170,000157,000120,000160,000127,000165,000150,00080,000148,00080,000146,000140,000200,000200,000146,00085,000243,200128,00074,000180,00060,000115,000240,000130,000139,05080,000155,000868,00074,00073,000175,000350,000192,00082,000205,000193,000130,00050,000196,000210,000185,000250,000127,869100125,00096,000126,000220,00037,248175,000202,000175,00073,00058,000100,000235,000100,00042,000124,000182,000105,000249,00090,000163,20090,35051,60055,00093,00065,00053,00095,000106,000160,000180,000200,00080,000175,00094,00070,000100,000180,00052,500116,500128,000250,000205,499140,000187,00080,000155,000195,000180,000165,000150,00081,00090,000101,00072,00096,000190,00095,000120,00070,000103,00055,00074,000225,00088,0

Well, pooh! We forgot that `salary` isn’t numeric. Something wrong must be fixed.

In [179]:
# Fix it.
df_salary_tech['salary'] = pd.to_numeric(df_salary_tech['salary'], errors='coerce')

C:\Users\chens\AppData\Local\Temp\ipykernel_5044\1800991916.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary_tech['salary'] = pd.to_numeric(df_salary_tech['salary'], errors='coerce')

Let’s try that again.

In [180]:
# Try it again. Yeah!

df_salary_tech['salary'].agg(['min', 'mean', 'max'])

min     0.000000e+00
mean    1.327847e+05
max     8.640000e+06
Name: salary, dtype: float64

That did the trick! Now let’s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [27]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you’ve now reached. What do you notice about Delaware and West Virginia?

Let’s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum―say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you―like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* 😜)